# .gitignore for Grails 1.2 and 1.3

# web application files
/web-app

# IDE support files
/.classpath
/.launch
/.project
/.settings
/*.launch
/*.tmproj
/ivy*
/eclipse

# logs
/stacktrace.log

# plugin release file
/*.zip

# "temporary" build files
/target

# other
*.iws

/target-eclipse/
*.zip
*.zip.sha1
/plugin.xml